.navbar {
    @apply flex justify-between items-center px-5 py-4
}

.navbar>.userProfile {
    @apply w-11 cursor-pointer rounded-full overflow-hidden
}
.dropDownMenu {
    @apply absolute right-2 z-20 mt-4 w-40 top-16 rounded-md shadow-lg overflow-hidden
}
.dropDownItems, .dropDownMenu  {
    transition: transform 0.5s, visibility 0.75s ease ;
    transition-delay: var(--delay);
}
.dropDownMenu[data-isdrop="true"] {
    visibility: visible;
}
.dropDownMenu[data-isdrop="false"] {
    visibility: hidden;
}
.dropDownMenu[data-isdrop="true"] > .dropDownItems {
    transform: translateX(0%);
}
.dropDownMenu[data-isdrop="false"] > .dropDownItems {
    transform: translateX(100%);
}
.dropDownItems {
    @apply block px-3 py-3 text-lg  font-semibold text-[var(--gray-one)] cursor-pointer bg-[var(--dark-gray)]
}
.dropDownItems:hover>svg, .dropDownItems:hover {
    @apply stroke-[var(--secondary-color)] text-[var(--secondary-color)] bg-[#383838]
}
.dropDownItems>svg {
    @apply stroke-[var(--gray-one)] h-5
}

.main {
    @apply mx-4 my-2
}

.main {
    margin: 12px;
    margin-bottom: 8rem;
}

.main>h1 {
    @apply text-4xl font-semibold capitalize pt-6 pb-4 pl-2
}

.main>h1 {
    font-family: 'Orienta', sans-serif;
}
.main > div {
    @apply flex gap-4 flex-col
}

.taskHeading {
    @apply text-[var(--gray-one)] text-3xl pt-6 font-bold pb-1
}
